$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "./variables";

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: darken($background, 3%);
}

::webkit-scrollbar-corner {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background-color: $color-information;

  &:hover {
    background: lighten($color-information, 20%);
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: $background;
  color: $color;
  font-size: 9pt;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: block;
  height: 100%;

  .column-wrap {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: 0;
    width: 180px;
    height: 100%;
    border-bottom: 5px solid $border-panel;

    > .column {
      display: flex;
      flex: 1;
      flex-direction: column;

      &.right {
        > section {
          //border-left: 2px solid $border-panel;
        }
      }
    }
  }
}

.column > section {
  flex-grow: 1;
  background: $background-panel;
  overflow: hidden;

  > h1 {
    display: flex;
    flex-shrink: 0;
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid darken($background, 5%);
    background: $border-panel;
    font-weight: normal;
    color: lighten($color, 10%);
    font-size: 9pt;
    text-transform: lowercase;

    .info {
      margin-left: auto;
      font-size: 8pt;
      color: darken($color, 15%);
      align-self: flex-end;
    }
  }
}